<div class='card'>
  <div class='card-header text-start'> {{productList}} </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-2 text-start">Filter by: </div>
      <div class="col-md-4 text-start"><input type="text" [(ngModel)]="productFilter"/></div>
    </div>

    <div class="row">
      <div class="col-md-6">
          <h4 class="text-start">Filtered by: {{productFilter}}</h4>
      </div>
    </div>

    <div class="table-responsive row">
      <table class="table" *ngIf="products.length">
        <thead>
          <th>
            <button type="button" class="btn btn-primary" (click)="toggleImage()">{{buttonLable}}</button>
          </th>
          <th>Product</th>
          <th>Code</th>
          <th>Available</th>
          <th>Price</th>
          <th>5 Star Rating</th>
        </thead>
        <tbody>
          <tr *ngFor="let product of productsFiltered">
            <td>
              <img *ngIf="showImage" [style.width.px]="imageWeight" [style.margin.px]="imageMagine" [src]="product.imageUrl" [alt]="product.productName" >
            </td>
            <td>{{product.productName}}</td>
            <td>{{product.productCode | lowercase | convertToSpace:'-'}}</td>
            <td>{{product.releaseDate}}</td>
            <td>{{product.price | currency:'USD':'symbol':'1.2-2'}}</td>
            <td>{{product.starRating}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
